// Make test with nib when there'd be more overrides
border-radius()
  -webkit-border-radius: arguments
  border-radius: arguments

@import "../../if-ie"

.test1
  width: 10px
  border-radius: 5px

ie = true

.test2
  width: 10px
  border-radius: 5px
