@import "../../if-ie"

.test1
  color: rgba-ie(0,0,0,0.5)
  background: rgba-ie(255,255,255,0.5, #000)
  border-color: rgba-ie(#FFF,0.7)
  border-bottom-color: rgba-ie(#FFDE00,.42, #19C261)

ie = true

.test2
  color: rgba-ie(0,0,0,0.5)
  background: rgba-ie(255,255,255,0.5,#000)
  border-color: rgba-ie(#FFF,0.7)
  border-bottom-color: rgba-ie(#FFDE00,.42, #19C261)
