@import "../../if-ie"

$default_rgba_fallback = lime

.test1
  color: rgba-ie(0,0,0,0.5)
  background: rgba-ie(255,255,255,0.5, #000)
  border-color: rgba-ie(#FFF,0.7)
  border-bottom-color: rgba-ie(#FFDE00,.42, #19C261)

ie = true

.test2
  color: rgba-ie(0,0,0,0.5)
  background: rgba-ie(255,255,255,0.5,#000)
  border-color: rgba-ie(#FFF,0.7)
  border-bottom-color: rgba-ie(#FFDE00,.42, #19C261)

$default_rgba_fallback = "whatever"

.test3
  color: rgba-ie(0,0,0,0.5)
  border-color: rgba-ie(#FFF,0.7)

$default_rgba_fallback = rgba(0,0,0,0.5)

.test4
  color: rgba-ie(0,0,0,0.5)
  border-color: rgba-ie(#FFF,0.7)

black_or_white($color)
  if red($color) + green($color) + blue($color) > 384
    return #000
  else
    return #FFF

$default_rgba_fallback = black_or_white

.test5
  color: rgba-ie(0,0,0,0.5)
  border-color: rgba-ie(#FFF,0.7)
