.test1 {
  color: rgba(0,0,0,0.5);
  background: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.7);
  border-bottom-color: rgba(255,222,0,0.42);
}
.test2 {
  color: #008000;
  background: #808080;
  border-color: #b3ffb3;
  border-bottom-color: #7ace38;
}
.test3 {
  color: #808080;
  border-color: #fff;
}
.test4 {
  color: #404040;
  border-color: #d9d9d9;
}
.test5 {
  color: #808080;
  border-color: #b3b3b3;
}
