@import "../../if-ie"

{nth-child(".test1", 1)}
  background: red

{nth-child(".test1", 2)}
  background: lime

{nth-child(".test1", 3)}
  background: blue

{nth-child(".test1", 4)}
  background: green

ie = true

{nth-child(".test2", 1)}
  background: red

{nth-child(".test2", 2)}
  background: lime

{nth-child(".test2", 3)}
  background: blue

{nth-child(".test2", 4)}
  background: green
