@import "../../if-ie"

.test1
  display: inline-block

.test1__important
  display: inline-block !important


ie = true
@import "../../if-ie"

.test2
  display: inline-block

.test2__important
  display: inline-block !important

.test3
  display: block