@import '../../if-ie'

.test1
  width: 100px
  height: 200px
  padding: 20px
  box-sizing: border-box

.test2
  width: 100px
  height: 200px
  padding: 20px 30px
  box-sizing: border-box

.test3
  width: 100px
  height: 200px
  padding: 20px 30px 40px
  box-sizing: border-box

.test4
  width: 100px
  height: 200px
  padding: 20px 30px 40px 50px
  box-sizing: border-box

.test5
  width: 100px
  height: 200px
  padding: 20em
  box-sizing: border-box

.test6
  width: 100px
  height: 200px
  padding: 20em 20px
  box-sizing: border-box

.test7
  width: 100px
  height: 200px
  padding: 20em 20px 10px 10em
  box-sizing: border-box

ie = true
@import '../../if-ie'

.test1_ie
  width: 100px
  height: 200px
  padding: 20px
  box-sizing: border-box

.test2_ie
  width: 100px
  height: 200px
  padding: 20px 30px
  box-sizing: border-box

.test3_ie
  width: 100px
  height: 200px
  padding: 20px 30px 40px
  box-sizing: border-box

.test4_ie
  width: 100px
  height: 200px
  padding: 20px 30px 40px 50px
  box-sizing: border-box

.test5_ie
  width: 100px
  height: 200px
  padding: 20em
  box-sizing: border-box

.test6_ie
  width: 100px
  height: 200px
  padding: 20em 20px
  box-sizing: border-box

.test7_ie
  width: 100px
  height: 200px
  padding: 20em 20px 10px 10em
  box-sizing: border-box

.test8_ie
  box-sizing: content-box