.test1 {
  width: 100px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
}
.test2 {
  width: 100px;
  height: 200px;
  padding: 20px 30px;
  box-sizing: border-box;
}
.test3 {
  width: 100px;
  height: 200px;
  padding: 20px 30px 40px;
  box-sizing: border-box;
}
.test4 {
  width: 100px;
  height: 200px;
  padding: 20px 30px 40px 50px;
  box-sizing: border-box;
}
.test5 {
  width: 100px;
  height: 200px;
  padding: 20em;
  box-sizing: border-box;
}
.test6 {
  width: 100px;
  height: 200px;
  padding: 20em 20px;
  box-sizing: border-box;
}
.test7 {
  width: 100px;
  height: 200px;
  padding: 20em 20px 10px 10em;
  box-sizing: border-box;
}
.test1_ie {
  width: 100px;
  height: 200px;
  padding: 20px;
  width: 60px;
  height: 160px;
}
.test2_ie {
  width: 100px;
  height: 200px;
  padding: 20px 30px;
  width: 40px;
  height: 160px;
}
.test3_ie {
  width: 100px;
  height: 200px;
  padding: 20px 30px 40px;
  width: 40px;
  height: 140px;
}
.test4_ie {
  width: 100px;
  height: 200px;
  padding: 20px 30px 40px 50px;
  width: 20px;
  height: 140px;
}
.test5_ie {
  width: 100px;
  height: 200px;
  padding: 20em;
}
.test6_ie {
  width: 100px;
  height: 200px;
  padding: 20em 20px;
  width: 60px;
}
.test7_ie {
  width: 100px;
  height: 200px;
  padding: 20em 20px 10px 10em;
}
